.the-lessons-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .plan-container {
    position: relative;
    margin-bottom: 12vh;
  }
  
  .plan {
    width: 50vw; /* Set a fixed width for the images */
    height: 73vh; /* Set a fixed height for the images */
    border-radius: 10px;
    border: 4px solid rgb(25, 0, 255);; /* Add black border */
  }